@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "YekanBakh";
  src: url("@/public/fonts/YekanBakh-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'YekanBakh', sans-serif;
  direction: rtl;
}


